<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="image/fzth.ico">

    <title>文章详情</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>



    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">文章标题</h1>
            <p class="lead blog-description">副标题</p>
        </div>

        <div class="row">

            <div class="col-sm-8 blog-main">

                <div class="blog-post">
                    <!-- <h2 class="blog-post-title">Sample blog post</h2> -->
                    <p class="blog-post-meta">日期 by
                        <a href="#">作者</a>
                    </p>

                    <p>序言</p>
                    <hr>
                    <p>文章内容</p>
                </div>
                <!-- /.blog-post -->

                <nav>
                    <ul class="pager">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-heart">&nbsp;喜欢</span></a>
                        </li>
                        <li>
                            <a href="#">不喜欢</a>
                        </li>
                    </ul>
                </nav>

            </div>
            <!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>作者姓名</h4>
                    <p>作者简介作者简介作者简介作者简介作者简介作者简介作者简介</p>
                </div>
                <div class="sidebar-module">
                    <h4>最新文章</h4>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#">March 2014</a>
                        </li>
                        <li>
                            <a href="#">February 2014</a>
                        </li>
                        <li>
                            <a href="#">January 2014</a>
                        </li>
                   
                    </ol>
                </div>
                <div class="sidebar-module">
                    <h4>猜你喜欢</h4>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#">GitHub</a>
                        </li>
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.blog-sidebar -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <footer class="blog-footer">
        <p>编写
            <a href="#">网站主页</a> by
            <a href="#">@冯浩斌</a>.</p>
        <p>
            <a href="#">回到顶部</a>
        </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>