{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}修改信息 - F-ZTH{% endblock %}
{% block custom_css %}
    <style>
        #mysurface {
            position: relative;
        }
        #hiddensurface {
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 180px;
            height: 70px;
        }
        #hiddensurfacebtn {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/kalendae.css' %}">
{% endblock %}
{% block content %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {#                <form class="clearfix" id="jsAvatarForm2" enctype="multipart/form-data" autocomplete="off" method="post"#}
                {#                      action="{% url 'user:surface_upload' %}" target='frameFile'>#}
                <img id="mysurface" class="first-slide" src="{% static 'images/default_surface.jpg' %}" alt="封面图">
                <div id="hiddensurface">
                    <label class="btn btn-default btn-lg" style="color: #8590a6;" id="jsAvatarBtn2"><input
                            id="hiddensurfacebtn"
                            type="file" hidden>
                        <span class="glyphicon glyphicon-camera"></span> 修改封面图</label>
                </div>
                {#                    {% csrf_token %}#}
                {#                </form>#}
            </div>
        </div>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <form id="jsEditUserForm" class="form-horizontal" action="{% url 'user:edit_message' %}" autocomplete="off"
              method="post" enctype="multipart/form-data">
            <div class="col-lg-4">
                <img class="img-circle" id="image" src="{{ MEDIA_URL }}{{ request.user.image }}" alt="头像"
                     width="140" height="140">
                <h2>{{ request.user.nick_name }}</h2>
                <p>
                    <label class="btn btn-default img_btn" >
                        <input type="file" id="img_file" name="image" accept=".jpg,.png"
                               style="display:none;">修改头像</label>
                </p>
            </div>


            <div class="col-lg-8">

                <div class="form-group">
                    <label for="nickname" class="col-sm-2 control-label">昵称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="nick_name" id="nick_name"
                               value="{{ request.user.nick_name|default_if_none:'无' }}">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">e-mail</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email"
                               value="{{ request.user.email|default_if_none:'' }}" readonly>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" id="optionsRadios1" value="male" checked> 男
                            </label>
                            &nbsp;
                            <label>
                                <input type="radio" name="gender" id="optionsRadios2" value="female">女
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="short_summary" class="col-sm-2 control-label">一句话介绍</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="short_summary" placeholder="填写一句话介绍自己"
                               name="short_summary" value="{{ request.user.short_summary|default_if_none:'' }}">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="birth_day" class="col-sm-2 control-label">出生年月</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control auto-kal" id="birth_day" name="birthday"
                               value="{{ request.user.birthday|date:'Y-m-d' }}">
                        <i class="error-tips"></i>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">居住地</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="address" id="address"
                               value="{{ request.user.address|default_if_none:'' }}" placeholder="请填写居住地">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="educated" class="col-sm-2 control-label">教育经历</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="educated" placeholder="填写教育经历"
                               name="educated" value="{{ request.user.educated|default_if_none:'' }}">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="profession" class="col-sm-2 control-label">所在行业</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="profession" placeholder="填写所在行业"
                               name="profession" value="{{ request.user.profession|default_if_none:'' }}">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">个人简介</label>
                    <div class="col-sm-10">
                        <textarea name="summary" class="form-control" rows="3"
                                  id="summary"
                                  placeholder="填写个人简介">{{ request.user.summary|default_if_none:'' }}</textarea>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">cancel</button>
                        &nbsp;
                        <button id="jsEditUserBtn"  style="background-color:#096c47;color:#ffffff;"
                                class="btn btn-default">save
                        </button>
                    </div>
                </div>
                <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}'/>

            </div>
            {% csrf_token %}
        </form>
    </div>
    <!-- /.row -->
    <!-- START THE FEATURETTES -->


    <hr class="featurette-divider">
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hotkeys.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uploader.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/simditor.js' %}"></script>
    <script type='text/javascript' src='{% static 'js/kalendae.standalone.js' %}'></script>
    <script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
    <script>
        $('#img_file').change(function () {
            loadImg();
        })

        function loadImg() {
            var file = $(".img_btn").find("input")[0].files[0];
            console.log(file)
            var reader = new FileReader();
            var imgFile;
            reader.onload = function (e) {
                imgFile = e.target.result;
                console.log(imgFile);
                $("#image").attr('src', imgFile);
            };
            reader.readAsDataURL(file);
        }

        $(function () {

            //保存个人资料
            $('#jsEditUserBtn').on('click', function () {
                var _self = $(this),
                    $jsEditUserForm = $('#jsEditUserForm')
                verify = verifySubmit(
                    [
                        {id: '#nick_name', tips: Dml.Msg.epNickName, require: true}
                    ]
                );
                if (!verify) {
                    return;
                }
                $.ajax({
                    cache: false,
                    type: 'post',
                    dataType: 'json',
                    url: "/user/editmymessage/",
                    data: $jsEditUserForm.serialize(),
                    async: true,
                    beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                    success: function (data) {
                        if (data.nick_name) {
                            _showValidateError($('#nick_name'), data.nick_name);
                        } else if (data.birthday) {
                            _showValidateError($('#birth_day'), data.birthday);
                        } else if (data.address) {
                            _showValidateError($('#address'), data.address);
                        } else if (data.email) {
                            _showValidateError($('#email'), data.email);
                        } else if (data.short_summary) {
                            _showValidateError($('#short_summary'), data.short_summary);
                        } else if (data.educated) {
                            _showValidateError($('#educated'), data.educated);
                        } else if (data.profession) {
                            _showValidateError($('#profession'), data.profession);
                        } else if (data.summary) {
                            _showValidateError($('#summary'), data.summary);
                        } else if (data.status == "failure") {
                            Dml.fun.showTipsDialog({
                                title: '保存失败',
                                h2: data.msg
                            });
                        } else if (data.status == "success") {
{#                            Dml.fun.showTipsDialog({#}
{#                                title: '保存成功',#}
{#                                h2: '个人信息修改成功！'#}
{#                            });#}
window.location.reload();//刷新当前页面.
{#                            setTimeout(function () {#}
{#                                window.location.href = window.location.href;#}
{#                            }, 1500);#}
                        }
                    },
                    complete: function (XMLHttpRequest) {
                        _self.val("保存");
                        _self.removeAttr("disabled");
                    }
                });
            });
        });

    </script>
{% endblock %}