{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}修改信息 - F-ZTH{% endblock %}
{% block custom_css %}
    <style>
    #hiddenhead {
        display:none;
    }
    #mysurface{
        position:relative ;
    }
    #hiddensurface{
        position: absolute;right:0px; bottom:0px; width:180px; height:70px;

    }
    #hiddensurfacebtn{
        display: none;
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/kalendae.css' %}">
{% endblock %}
{% block custom_js %}
    <script type='text/javascript' src='{% static 'js/kalendae.standalone.js' %}'></script>
{% endblock %}
{% block content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="item active">

                <img id="mysurface" class="first-slide" src="{% static 'images/default_surface.jpg' %}" alt="封面图">
                <div  id="hiddensurface">
                    <label class="btn btn-default btn-lg" style="color: #8590a6;"><input id="hiddensurfacebtn" type="file" hidden >
                        <span class="glyphicon glyphicon-camera"></span> 修改封面图</label>
                </div>
            </div>
        </div>
        <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">

            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

            <span class="sr-only">Next</span>
        </a> -->
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row">

        <div class="col-lg-4">
            <img class="img-circle" src="{{ MEDIA_URL }}{{ request.user.image }}" alt="头像"
                 width="140" height="140">
            <h2>{{ request.user.nick_name }}</h2>
            <p>
                <label class="btn btn-default" ><input id="hiddenhead" type="file" hidden >修改头像</label>
            </p>
        </div>

<div class="col-lg-8">
    <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="nickname" class="col-sm-2 control-label">昵称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nickname" value="{{ request.user.nick_name }}">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">e-mail</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" value="{{ request.user.email }}">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 男
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">女
                        </label>
                    </div>
                </div>
            </div>
        <hr>
        <div class="form-group">
                <label for="shortsummary" class="col-sm-2 control-label">一句话介绍</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="shortsummary" placeholder="填写一句话介绍自己"
                           value="{{ request.user.short_summary }}">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="birth" class="col-sm-2 control-label">出生年月</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control auto-kal" id="birth" value="{{ request.user.birthday }}">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="educated" class="col-sm-2 control-label">教育经历</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="educated" placeholder="填写教育经历" value="{{ request.user.educated }}">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="work" class="col-sm-2 control-label">所在行业</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="work" placeholder="填写所在行业" value="{{ request.user.profession }}">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label">个人简介</label>
                <div class="col-sm-10">
                    <textarea name="summary" class="form-control" rows="3" placeholder="填写个人简介">{{ request.user.summary }}</textarea>
                </div>
            </div>
            <br>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">cancel</button>
                    &nbsp;
                    <button type="submit" style="background-color:#096c47;color:#ffffff;" class="btn btn-default">save
                    </button>
                </div>
            </div>
        </form>
</div>

    </div>
    <!-- /.row -->
    <!-- START THE FEATURETTES -->


    <hr class="featurette-divider">
{% endblock %}
