{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}个人主页 - F-ZTH{% endblock %}
{% block custom_css %}{% endblock %}
{% block custom_js %}{% endblock %}
{% block content %}
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="{% static 'images/default_surface.jpg' %}" alt="封面图">
            </div>
        </div>
        <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">

            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

            <span class="sr-only">Next</span>
        </a> -->
    </div>
    <!-- /.carousel -->

    <div class="container marketing" >

        <!-- Three columns of text below the carousel -->
        <div class="row">

            <div class="col-lg-4">
                <img class="img-circle" src="{{ MEDIA_URL }}{{ userdetail.image }}" alt="头像"
                    width="140" height="140">
                <h2>{{ userdetail.nick_name|default_if_none:'无昵称' }}</h2>

            </div>
            <div class="col-lg-8">
                <h4>个人介绍：</h4>
                <p>姓名：</p>
                <p>e-mail:</p>
                <p>性别:</p>
                <p>出生年月:</p>
                <p>教育经历:</p>
                <p>所在行业:</p>
                <p>个人简介:</p>

            </div>
            <!-- /.col-lg-4 -->

        </div>
        <!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
{% for article in my_article %}
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ article.title }}
                    <span class="text-muted"><small>{{ article.desc }}</small></span>
                </h2>
                <p class="lead">{{ article.detail }}</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="{{ MEDIA_URL }}{{ article.image }}" alt="文章图片">
            </div>
        </div>
{% endfor %}
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">展示第二篇文章
                    <span class="text-muted"><small>副标题</small></span>
                </h2>
                <p class="lead">内容简介</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="images/LOGO.png" alt="文章图片">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">展示第三篇文章
                    <span class="text-muted"><small>副标题</small></span>
                </h2>
                <p class="lead">内容简介</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="images/LOGO.png" alt="文章图片">
            </div>
        </div>

        <hr class="featurette-divider">

    </div>
{% endblock %}
