<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>
.navbar .nav > li > a{
    color: #ffffff;    
}
 .navbar .nav >li >a:visited{
    color: #ffffff;
    background-color: #e7e7e7;
}
.navbar .nav > li > a:hover {
    color: #555;
    background-color: #e7e7e7;
}
.navbar .nav >li >a:active{
    color: #555;
    background-color: #e7e7e7;
}
</style>
</head>

<body>
    <!-- 固定导航条 -->
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top " style="background-color:#096C47;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">From Zero to Hero</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:#ffffff;" class="navbar-brand" href="#">F-ZTH</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-home"></span> 主页</a>
                    </li>
                    <li class="active">
                        <a href="#about">
                            <span class="glyphicon glyphicon-align-justify"></span> 文章列表</a>
                    </li>
                    <li class="disabled">
                        <a href="#contact">用户列表</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> 个人中心
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="disabled">
                                <a href="#">我的文章</a>
                            </li>
                            <li>
                                <a href="#">我的收藏</a>
                            </li>
                            <li class="disabled">
                                <a href="#">我的关注</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">其他</li>
                            <li>
                                <a href="#">个人信息</a>
                            </li>
                            <li>
                                <a href="#">我的评论</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
    
                    <form class="navbar-form navbar-left" role="search">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                                文章
                                <span class="caret"></span>
                            </button>
    
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">文章</a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#">用户</a>
                                </li>
    
                                <li role="presentation">
                                    <a href="#">发表日期(yy-mm-dd)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </form>
    
    
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-user"></span> 注册</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-log-in"></span> 登录</a>
                        </li>
                    </ul>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.
                <br> All you get is this text and a mostly barebones HTML document.</p>
        </div>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>