{#{% extends 'base.html' %}#}
{#{% block title %}测试editor{% endblock %}#}
{#{% block custom_css %}{% endblock %}#}
{#{% block custom_js %}{% endblock %}#}
{#{% block content %}#}
{##}
{#{% endblock %}#}
<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/fzth.ico' %}">

    <title>{% block title %}base{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">

    {% block custom_css %}{% endblock %}

</head>
<!-- NAVBAR
================================================== -->

<body style="background-color: #F6F6F6">
<!-- 固定导航条 -->
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">From Zero to Hero</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:#ffffff;" class="navbar-brand" href="#">F-ZTH</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path == '/' %}class="active"{% endif %}>
                    <a href="/">
                        <span class="glyphicon glyphicon-home"></span> 首页</a>
                </li>
                <li {% if request.path|slice:'13' == '/article/list' %}class="active"{% endif %}>
                    <a href="{% url 'article:article_list' %}">
                        <span class="glyphicon glyphicon-align-justify"></span> 文章列表</a>
                </li>
                <li {% if request.path|slice:'10' == '/user/list' %}class="active"{% endif %}>
                    <a href="{% url 'user:user_list' %}"><span class="glyphicon glyphicon-user"></span> 用户列表</a>
                </li>
                <li {% if request.path|slice:'16' == '/operation/write' %}class="active"{% endif %}>
                    <a href="{% url 'operation:operation_write' %}"><span class="glyphicon glyphicon-edit"></span>
                        写文章</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <div class="navbar-form navbar-left" role="search">
                    <div class="btn-group">
                        <button id="jsSelectOption" type="button" class="btn btn-default dropdown-toggle "
                                data-toggle="dropdown" data-value="article">
                            文章
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="jsSelectMenu">
                            <li data-value="article"><a href="#">文章</a></li>
                            <li data-value="user"><a href="#">用户</a></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input id="search_keywords" type="text" class="form-control" placeholder="请输入搜索内容">
                        <button id="jsSearchBtn" type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>


                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        {#                         <li><a href="{% url 'user:user_info' %}"><img width="20" height="20" src="/static/images/fzth.ico"/>&nbsp;{{ request.user.username }}#}
                        {#                         </a></li>#}
                        <li class="dropdown">
                            <a href="{% url 'user:user_info' %}" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <img width="20" height="20"
                                     src="/static/images/fzth.ico"/>&nbsp;{{ request.user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'user:user_detail' request.user.id %}">进入个人主页</a>
                                </li>
                                <li>
                                    <a href="{% url 'user:user_info' %}">进入个人中心</a>
                                </li>
                            </ul>
                        </li>

                        <li><a href="/logout/">退出</a></li>
                    {% else %}
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                        <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    {% endif %}


                </ul>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing" >
    {% block content %}



    {% endblock %}
    <!-- FOOTER -->
    <footer>
        <p class="pull-right">
            <a href="#">回到顶部</a>
        </p>
        <p>&copy; 2018 广东工业大学, 自动化学院. &middot;
            <a href="#">物联网工程</a> &middot;
            <a href="#">2014级4班</a>
        </p>
    </footer>
</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
{#<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>#}
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

<script>
    //顶部搜索栏搜索方法
    function search_click() {
        var type = $('#jsSelectOption').attr('data-value'),
            keywords = $('#search_keywords').val(),
            request_url = '';
        if (keywords == "") {
            return
        }
        if (type == "article") {
            request_url = "/article/list?keywords=" + keywords
        } else if (type == "user") {
            request_url = "/user/list?keywords=" + keywords
        }
        window.location.href = request_url
    }

    //顶部搜索栏搜索按钮事件
    $('#jsSelectOption').on('click', function () {
        var $jsSelectMenu = $('#jsSelectMenu');
        if ($jsSelectMenu.css('display') == 'block') return;
        $jsSelectMenu.addClass('dis');
    });
    $('#jsSelectMenu > li').on('click', function () {
        var searchType = $(this).attr('data-value'),
            searchName = $(this).text(),
            $jsSelectOption = $('#jsSelectOption');
        $jsSelectOption.attr('data-value', searchType).text(searchName);
        $(this).parent().removeClass('dis');
    });
    $(document).on('click', function (e) {
        if (e.target != $('#jsSelectOption')[0] && e.target != $('#jsSelectMenu')[0]) {
            $('#jsSelectMenu').removeClass('dis');
        }
    });


    $('#jsSearchBtn').on('click', function () {
        search_click()
    });
    //搜索表单键盘事件
    $("#search_keywords").keydown(function (event) {
        if (event.keyCode == 13) {
            $('#jsSearchBtn').trigger('click');
        }
    });

</script>
{% block custom_js %}

{% endblock %}

</body>

</html>