<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images\fzth.ico">

    <title>个人中心 - F-ZTH</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet">

    <style>
        .fixed-btn {
            position: fixed;
            right: 22%;
            /* bottom: 5%; */
            width: 200px;
            border: 1px solid #eee;
            background-color: white;
            /* font-size: 24px; */
            z-index: 1040;
            -webkit-backface-visibility: hidden;
        }


        /* Custom Styles */
    ul.nav-tabs{
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
   
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #096c47;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }

    </style>
</head>
<!-- NAVBAR
================================================== -->

<body data-spy="scroll" data-target="#myScrollspy">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">文章标题</h4>
                </div>
                <div class="modal-body">
                    【2018全球赛事公布】今年，我们将会在5月3日—5月20日期间，在德国柏林和法国巴黎首次举办#LOL季中赛#。 而后，在7月2日—7月8日，#LOL洲际赛#亚洲对抗赛将会来到中国大陆！2018全球总决赛的举办场地，则是过去 七届全球总决赛之中五次夺冠的队伍主场：韩国。最后，全明星赛将继续落户北美，更多详情，欢迎关注
                    【2018全球赛事公布】今年，我们将会在5月3日—5月20日期间，在德国柏林和法国巴黎首次举办#LOL季中赛#。 而后，在7月2日—7月8日，#LOL洲际赛#亚洲对抗赛将会来到中国大陆！2018全球总决赛的举办场地，则是过去
                    七届全球总决赛之中五次夺冠的队伍主场：韩国。最后，全明星赛将继续落户北美，更多详情，欢迎关注 【2018全球赛事公布】今年，我们将会在5月3日—5月20日期间，在德国柏林和法国巴黎首次举办#LOL季中赛#。
                    而后，在7月2日—7月8日，#LOL洲际赛#亚洲对抗赛将会来到中国大陆！2018全球总决赛的举办场地，则是过去 七届全球总决赛之中五次夺冠的队伍主场：韩国。最后，全明星赛将继续落户北美，更多详情，欢迎关注
                    【2018全球赛事公布】今年，我们将会在5月3日—5月20日期间，在德国柏林和法国巴黎首次举办#LOL季中赛#。 而后，在7月2日—7月8日，#LOL洲际赛#亚洲对抗赛将会来到中国大陆！2018全球总决赛的举办场地，则是过去
                    七届全球总决赛之中五次夺冠的队伍主场：韩国。最后，全明星赛将继续落户北美，更多详情，欢迎关注 【2018全球赛事公布】今年，我们将会在5月3日—5月20日期间，在德国柏林和法国巴黎首次举办#LOL季中赛#。
                    而后，在7月2日—7月8日，#LOL洲际赛#亚洲对抗赛将会来到中国大陆！2018全球总决赛的举办场地，则是过去 七届全球总决赛之中五次夺冠的队伍主场：韩国。最后，全明星赛将继续落户北美，更多详情，欢迎关注
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">点赞</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 固定导航条 -->
    <!-- Fixed navbar -->
    <nav  id="section-6" class="navbar navbar-default  navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">From Zero to Hero</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:#ffffff;" class="navbar-brand" href="#">F-ZTH</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-home"></span> 首页</a>
                    </li>
                    <li>
                        <a href="#about">
                            <span class="glyphicon glyphicon-align-justify"></span> 文章列表</a>
                    </li>
                    <li class="disabled">
                        <a href="#contact">用户列表</a>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> 个人中心
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#section-1">个人信息</a>
                            </li>
                            <li>
                                <a href="#section-2">我的文章</a>
                            </li>
                            <li>
                                <a href="#section-3">我的关注</a>
                            </li>
                            <li>
                                <a href="#section-4">我的收藏</a>
                            </li>
                            <li>
                                <a href="#section-5">我的评论</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <form class="navbar-form navbar-left" role="search">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                                文章
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">文章</a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#">用户</a>
                                </li>

                                <li role="presentation">
                                    <a href="#">发表日期(yy-mm-dd)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </form>


                    <ul class="nav navbar-nav navbar-right">
                        <li class="disabled">
                            <a href="#">
                                <span class="glyphicon glyphicon-user"></span> 注册</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-log-in"></span> 登录</a>
                        </li>
                    </ul>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    <!-- Marketing messaging and featurettes
================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="blog-header">
            <!-- <h3 class="blog-title">&nbsp;发呆</h3> -->
            <br>
        </div>
        <!-- /.row -->

          

    <div class="container">
    <div class="jumbotron">
        <h1>个人中心</h1>
    </div>
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125" >
                <li class="active">
                    <a href="#section-1">个人信息</a>
                </li>
                <li>
                    <a href="#section-2">我的文章</a>
                </li>
                <li>
                    <a href="#section-3">我的关注</a>
                </li>
                <li>
                    <a href="#section-4">我的收藏</a>
                </li>
                <li>
                    <a href="#section-5">我的评论</a>
                </li>
                <li>
                    <a href="#section-6">回到顶部</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-9">
            <hr id="section-1" style="padding:0%;margin:5%;" class="featurette-divider">
            <h2 >个人资料</h2>
            <h4>个人介绍：</h4>
            <p>姓名：</p>
            <p>e-mail:</p>
            <p>性别:</p>
            <p>出生年月:</p>
            <p>教育经历:</p>
            <p>所在行业:</p>
            <p>个人简介:</p>
            <p class="text-center">
                <a class="btn btn-default" href="#" role="button">Edit &raquo;</a>
            </p>
        
            <hr id="section-2" style="padding:0%;margin:5%;" class="featurette-divider">
            <h2 >我的文章</h2>
            <div class="row featurette">
            
                <div class="row col-md-12">
                    <div class="media">
                        <div class="media-body">
                            <div>
                                <div>
                                    <span>
                                        <h5 style="color:#777;">发表时间：2018年3月1日</h5>
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <a href="">
                                            <img width="24" height="24" src="images\LOGO.png" alt="">
                                        </a>
                                        <a href="#" style="color:black;">
                                            Froben
                                        </a>
                                        <small style="color:#777;">&nbsp;目标：机器学习工程师,数据挖掘工程师</small>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-13" data-toggle="collapse" data-target="#collapseTwo">
                                <h3 style="padding:0%;margin:2%;">
                                    <b>展示第一篇文章</b>
                                    <span class="text-muted">
                                        <small>副标题</small>
                                    </span>
                                </h3>
                                <p class=""> 内容简介内容简介内容简介内容简介
                                </p>
                            </div>
                        </div>
            
                        <div class="media-bottom">
            
            
                            <div class="row">
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                              
                            </div>
            
                        </div>
            
            
                        <div class="col-md-8 col-sm-offset-2 text-center">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="background-color:#096c47;">
                                编&nbsp;&nbsp;辑
                            </button>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="background-color:#096C47;">
                                展开全文
                            </button>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="background-color:#096c47;">
                                评&nbsp;&nbsp;论
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr id="section-3" style="padding:0%;margin:5%;" class="featurette-divider">
            <h2>我的关注</h2>
            <p>Integer pulvinar leo id risus pellentesque vestibulum. Sed diam libero, sodales eget sapien vel, porttitor bibendum
                enim. Donec sed nibh vitae lorem porttitor blandit in nec ante. Pellentesque vitae metus ipsum. Phasellus
                sed nunc ac sem malesuada condimentum. Etiam in aliquam lectus. Nam vel sapien diam. Donec pharetra id arcu
                eget blandit. Proin imperdiet mattis augue in porttitor. Quisque tempus enim id lobortis feugiat. Suspendisse
                tincidunt risus quis dolor fringilla blandit. Ut sed sapien at purus lacinia porttitor. Nullam iaculis, felis
                a pretium ornare, dolor nisl semper tortor, vel sagittis lacus est consequat eros. Sed id pretium nisl. Curabitur
                dolor nisl, laoreet vitae aliquam id, tincidunt sit amet mauris.</p>
           
            <hr id="section-4" style="padding:0%;margin:5%;" class="featurette-divider">
            <h2>我的收藏</h2>
            <div class="row featurette">
                <div class="row col-md-12">
                    <div class="media">
                        <div class="media-body">
                            <div>
                                <div>
                                    <span>
                                        <h5 style="color:#777;">发表时间：2018年3月1日</h5>
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <a href="">
                                            <img width="24" height="24" src="images\LOGO.png" alt="">
                                        </a>
                                        <a href="#" style="color:black;">
                                            Froben
                                        </a>
                                        <small style="color:#777;">&nbsp;目标：机器学习工程师,数据挖掘工程师</small>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-13">
                                <h3 style="padding:0%;margin:2%;">
                                    <b>展示第一篇文章</b>
                                    <span class="text-muted">
                                        <small>副标题</small>
                                    </span>
                                </h3>
            
                                <p class=""> 内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介 3内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介 内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介
                                    内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介
                                </p>
                            </div>
                        </div>
            
                        <div class="media-bottom">
            
            
                            <div class="row">
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                            </div>
            
                        </div>
            
            
                        <div class="col-md-8 col-sm-offset-2 text-center">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="background-color:#096c47;">
                                取消收藏
                            </button>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="background-color:#096C47;">
                                展开全文
                            </button>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="background-color:#096c47;">
                                评&nbsp;&nbsp;论
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row featurette">
                <div class="row col-md-12">
                    <div class="media">
                        <div class="media-body">
                            <div>
                                <div>
                                    <span>
                                        <h5 style="color:#777;">发表时间：2018年3月1日</h5>
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <a href="">
                                            <img width="24" height="24" src="images\LOGO.png" alt="">
                                        </a>
                                        <a href="#" style="color:black;">
                                            Froben
                                        </a>
                                        <small style="color:#777;">&nbsp;目标：机器学习工程师,数据挖掘工程师</small>
                                    </span>
                                </div>
                            </div>
                           

                            <div class="col-md-13" data-toggle="collapse" data-target="#collapseOne">
                                <h3 style="padding:0%;margin:2%;">
                                    <b>展示第一篇文章</b>
                                    <span class="text-muted">
                                        <small>副标题</small>
                                    </span>
                                </h3>
                                <p class="">容简介内容简介内容简介...
                                </p>
                            </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                        vice lomo.
                                    </div>
                                </div>
                            
                        </div>
            
                        <div class="media-bottom">
            
            
                            <div class="row">
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" style="height:120px;width:100%;display:block;" src="images\LOGO.png" alt="...">
                                    </a>
                                </div>
                            </div>
            
                        </div>
            
            
                        <div class="col-md-8 col-sm-offset-2 text-center">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="background-color:#096c47;">
                                取消收藏
                            </button>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="background-color:#096C47;">
                                展开全文
                            </button>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="background-color:#096c47;">
                                评&nbsp;&nbsp;论
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr id="section-5" style="padding:0%;margin:5%;" class="featurette-divider">
            <h2>我的评论</h2>
      
            
            <div class="col-md-13" data-toggle="collapse" data-target="#collapseTwo">
                <h3 style="padding:0%;margin:2%;">
                    <b>展示第一篇文章</b>
                    <span class="text-muted">
                        <small>副标题</small>
                    </span>
                </h3>
            
                <p class=""> 内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介 3内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介 内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介 内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介内容简介
                </p>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                    vice lomo.
                </div>
            </div>
        
           
        </div>
    </div>
</div>
        <!-- /.container -->


 

        <hr style="padding:0%;margin:2%;" class="featurette-divider">

        <!-- FOOTER -->
        <footer class="blog-footer">
            <p>编写
                <a href="#">网站主页</a> by
                <a href="#">@冯浩斌</a>.</p>
            <p>
                <a href="#">回到顶部</a>
            </p>
        </footer>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>

</html>