<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images\fzth.ico' %}">

    <title>个人中心 - F-ZTH</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    {#    <link href="{% static 'css/blog.css' %}" rel="stylesheet">#}

    <style>
        .fixed-btn {
            position: fixed;
            right: 22%;
            /* bottom: 5%; */
            width: 200px;
            border: 1px solid #eee;
            background-color: white;
            /* font-size: 24px; */
            z-index: 1040;
            -webkit-backface-visibility: hidden;
        }

        /* Custom Styles */
        ul.nav-tabs {
            width: 140px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

        ul.nav-tabs li {
            margin: 0;
            border-top: 1px solid #ddd;
        }

        ul.nav-tabs li:first-child {
            border-top: none;
        }

        ul.nav-tabs li a {
            margin: 0;
            padding: 8px 16px;
            border-radius: 0;
        }

        ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
            color: #fff;
            background: #096c47;
            border: 1px solid #0088cc;
        }

        ul.nav-tabs li:first-child a {
            border-radius: 4px 4px 0 0;
        }

        ul.nav-tabs li:last-child a {
            border-radius: 0 0 4px 4px;
        }

        ul.nav-tabs.affix {
            top: 30px; /* Set the top position of pinned element */
        }

        {#多行文本溢出显示省略号#}
        .articledetailp {
            position: relative;
            line-height: 1.4em;
            /* 3 times the line-height to show 3 lines */
            height: 4.2em;
            overflow: hidden;
        }

        .articledetailp::after {
            content: "...";
            font-weight: bold;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 20px 1px 45px;
            background: url(http://css88.b0.upaiyun.com/css88/2014/09/ellipsis_bg.png) repeat-y;
        }

    </style>
</head>
<!-- NAVBAR
================================================== -->

<body data-spy="scroll" data-target="#myScrollspy">
<!-- 固定导航条 -->
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">From Zero to Hero</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:#ffffff;" class="navbar-brand" href="#">F-ZTH</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">
                        <span class="glyphicon glyphicon-home"></span> 首页</a>
                </li>
                <li>
                    <a href="{% url 'article:article_list' %}">
                        <span class="glyphicon glyphicon-align-justify"></span> 文章列表</a>
                </li>
                <li>
                    <a href="{% url 'user:user_list' %}"><span class="glyphicon glyphicon-user"></span> 用户列表</a>
                </li>
                <li>
                    <a href="{% url 'operation:operation_write' %}"><span class="glyphicon glyphicon-edit"></span>
                        写文章</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <div class="navbar-form navbar-left" role="search">
                    <div class="btn-group">
                        <button id="jsSelectOption" type="button" class="btn btn-default dropdown-toggle "
                                data-toggle="dropdown" data-value="article">
                            文章
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="jsSelectMenu">
                            <li data-value="article"><a href="#">文章</a></li>
                            <li data-value="user"><a href="#">用户</a></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input id="search_keywords" type="text" class="form-control" placeholder="请输入搜索内容">
                        <button id="jsSearchBtn" type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>


                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        {#                         <li><a href="{% url 'user:user_info' %}"><img width="20" height="20" src="/static/images/fzth.ico"/>&nbsp;{{ request.user.username }}#}
                        {#                         </a></li>#}

                        <li {% if request.path|slice:'10' == '/user/info' %}class="active dropdown" {% else %} {% endif %}>
                            <a href="{% url 'user:user_info' %}" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <img width="20" height="20"
                                     src="{{ MEDIA_URL }}{{ request.user.image }}"/>&nbsp;{{ request.user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'user:user_detail' request.user.id %}">进入个人主页</a>
                                </li>
                                <li>
                                    <a href="{% url 'user:user_info' %}">进入个人中心</a>
                                </li>
                            </ul>
                        </li>


                        <li><a href="/logout/">退出</a></li>
                    {% else %}
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                        <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    {% endif %}


                </ul>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>


<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="blog-header">
        <!-- <h3 class="blog-title">&nbsp;发呆</h3> -->
        <br>
    </div>
    <!-- /.row -->


    <div class="container">
        <div class="jumbotron">
            <h1>个人中心</h1>
        </div>
        <div class="row">
            <div class="col-xs-3" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                    <li class="active">
                        <a href="#section-1">个人信息</a>
                    </li>
                    <li>
                        <a href="#section-2">我的文章</a>
                    </li>
                    <li>
                        <a href="#section-3">我的关注</a>
                    </li>
                    <li>
                        <a href="#section-4">我的收藏</a>
                    </li>
                    <li>
                        <a href="#section-5">我的评论</a>
                    </li>
                    <li>
                        <a href="#top">回到顶部</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-9">
                <hr id="section-1" style="padding:0%;margin:5%;" class="featurette-divider">
                <h2>个人资料</h2>
                {#                <h4>个人介绍：{{ request.user.short_summary }}</h4>#}
                <p>昵称：{{ request.user.nick_name }}</p>
                <p>一句话介绍：{{ request.user.short_summary }}</p>
                <p>e-mail:{{ request.user.email }}</p>
                <p>性别:{% if request.user.gender == 'male' %}男{% elif request.user.gender == 'female' %}女{% endif %}</p>
                <p>出生年月:{{ request.user.birthday|default_if_none:'' }}</p>
                <p>教育经历:{{ request.user.eduated }}</p>
                <p>所在行业:{{ request.user.profession }}</p>
                <p>居住地:{{ request.user.address }}</p>
                <p>个人简介:{{ request.user.summary }}</p>
                <p class="text-center">
                    <a class="btn btn-default" href="{% url 'user:edit_message' %}" role="button">Edit &raquo;</a>
                </p>

                <hr id="section-2" style="padding:0%;margin:5%;" class="featurette-divider">
                <h2>我的文章</h2>
                {% for article in my_article.object_list %}
                    <div class="row featurette">
                        <div class="row col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <div>
                                    <span>
                                        <h5 style="color:#777;">发表时间：{{ article.add_time }}</h5>
                                    </span>
                                        </div>
                                        <div>
                                    <span>
                                        <a href="">
                                            <img width="24" height="24" src="{{ MEDIA_URL }}{{ request.user.image }}"
                                                 alt="">
                                        </a>
                                        <a href="#" style="color:black;">
                                            {{ request.user.nick_name }}
                                        </a>
                                        <small style="color:#777;">&nbsp;{{ request.user.short_summary }}</small>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="col-md-13" data-toggle="collapse" data-target="#collapseTwo">
                                        <h3 style="padding:0%;margin:2%;">
                                            <b>{{ article.title }}</b>
                                            <span class="text-muted">
                                        <small>{{ article.desc }}</small>
                                    </span>
                                        </h3>
                                        <p id="articledetailp" class="articledetailp"> {{ article.detail }}
                                        </p>
                                    </div>
                                </div>

                                <div class="media-bottom">

{% if article.image %}
                                    <div class="row">
                                        <div class="col-xs-3 col-md-3">
                                            <a href="{% url 'article:article_detail' article.id %}" target="_blank" class="thumbnail">
                                                <img class="media-object" style="height:120px;width:100%;display:block;"
                                                     src="{{ MEDIA_URL }}{{ article.image }}" alt="...">
                                            </a>
                                        </div>
                                    </div>
    {% else %}
    <br>
{% endif %}
                                </div>


                                <div class="col-md-8 col-sm-offset-2 text-center">
                                    <button type="button" class="btn btn-primary btn-lg collect-btn"
                                            style="background-color:#096c47;" >
                                        <span class="delete-group fr jsDeletemy_article" data-articleid="{{ article.id }}">
                                            <span class="glyphicon glyphicon-trash"></span> 删除
                                        </span>
                                    </button>
                                    {#<span class="glyphicon glyphicon-heart"></span>&nbsp;#}
                                    <a href="{% url 'article:article_detail' article.id %}" target="_blank">
                                        <button type="button" class="btn btn-primary btn-lg"
                                                style="background-color:#096c47;">
                                            <span class="glyphicon glyphicon-file"></span> read all
                                        </button>
                                    </a>
                                    <a href="{% url 'operation:operation_edit' article.id %}" target="_blank">
                                        <button type="button" class="btn btn-primary btn-lg"
                                                style="background-color:#096c47;">
                                            <span class="glyphicon glyphicon-edit"></span> 编&nbsp;辑
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            <div class="col-md-8 col-sm-offset-2 text-center">
            <nav id="fenyeqi">
                <ul class="pagination">
                    {% if my_article.has_previous %}
                        <li>
                            <a href="?{{ my_article.previous_page_number.querystring }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page in my_article.pages %}
                        {% if page %}
                            {% ifequal page my_article.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if my_article.has_next %}
                        <li>
                            <a href="?{{ my_article.next_page_number.querystring }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

                <hr id="section-3" style="padding:0%;margin:5%;" class="featurette-divider">
                <h2>我的关注</h2>
                <br>
                {% for user in my_fav_user_list %}
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-circle" src="{{ MEDIA_URL }}{{ user.image }}" alt="头像"
                                 width="100" height="100">
                            <h3>{{ user.nick_name }}</h3>
                        </div>
                        <div class="col-lg-6">
                            <h5>一句话介绍：{{ user.short_summary }}</h5>
                            <p>e-mail:{{ user.email }}</p>
                            <p>教育经历:{{ user.educated }}</p>
                            <p>所在行业:{{ user.prefession }}</p>
                            <p>粉丝数：{{ user.fans_nums }}</p>
                        </div>
                        <div class="col-lg-2">

                            <button type="button" class="btn btn-primary collect-btn"
                                    style="background-color:#096c47;" data-userid="{{ user.id }}">已&nbsp;关&nbsp;注
                            </button>

                            {#<span class="glyphicon glyphicon-heart"></span>&nbsp;#}
                            <a href="{% url 'user:user_detail' user.id %}" target="_blank">
                                <button type="button" class="btn btn-primary"
                                        style="background-color:#096c47;">
                                    <span class="glyphicon glyphicon-file"></span> 主页
                                </button>
                            </a>
                        </div>
                        <!-- /.col-lg-4 -->
                        {#                        <div class="col-md-11 col-sm-offset-2 text-center">#}
                        {#                            <button type="button" class="btn btn-primary collect-btn"#}
                        {#                                    style="background-color:#096c47;" data-userid="{{ user.id }}">#}
                        {#                                <span#}
                        {#                                        class="badge">{{ user.fans_nums }}</span>&nbsp;关注#}
                        {#                            </button>#}
                        {#<span class="glyphicon glyphicon-heart"></span>&nbsp;#}
                        {#                            <a href="{% url 'user:user_detail' user.id %}" target="_blank">#}
                        {#                                <button type="button" class="btn btn-primary"#}
                        {#                                        style="background-color:#096c47;">#}
                        {#                                    <span class="glyphicon glyphicon-file"></span> read all#}
                        {#                                </button>#}
                        {#                            </a>#}
                        {#                        </div>#}
                    </div>
                    {#                    <hr style="padding:0%;margin:2%;" class="featurette-divider">#}
                {% endfor %}


                <hr id="section-4" style="padding:0%;margin:5%;" class="featurette-divider">
                <h2>我的收藏</h2>
                {% for article in my_fav_article_list %}
                    <div class="row featurette">
                        <div class="row col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <div>
                                    <span>
                                        <h5 style="color:#777;">发表时间：{{ article.add_time }}</h5>
                                    </span>
                                        </div>
                                        <div>
                                    <span>
                                        <a href="">
                                            <img width="24" height="24" src="{{ MEDIA_URL }}{{ article.author.image }}"
                                                 alt="">
                                        </a>
                                        <a href="#" style="color:black;">
                                            {{ article.author.nick_name }}
                                        </a>
                                        <small style="color:#777;">&nbsp;{{ article.author.short_summary }}</small>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="col-md-13">
                                        <h3 style="padding:0%;margin:2%;">
                                            <b>{{ article.title }}</b>
                                            <span class="text-muted">
                                        <small>{{ article.desc }}</small>
                                    </span>
                                        </h3>

                                        <p class="articledetailp">{{ article.detail }}
                                        </p>
                                    </div>
                                </div>

                                <div class="media-bottom">

{% if article.image %}
                                    <div class="row">
                                        <div class="col-xs-3 col-md-3">

                                            <a href="{% url 'article:article_detail' article.id %}" target="_blank" class="thumbnail">
                                                <img class="media-object" style="height:120px;width:100%;display:block;"
                                                     src="{{ MEDIA_URL }}{{ article.image }}" alt="...">
                                            </a>
                                        </div>
                                    </div>
{% endif %}
                                </div>


                                <div class="col-md-8 col-sm-offset-2 text-center">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-lg collect-article-btn"
                                                style="background-color:#096c47;" data-articleid="{{ article.id }}">
                                                取消收藏
                                        </button>
                                        {#<span class="glyphicon glyphicon-heart"></span>&nbsp;#}
                                        <a href="{% url 'article:article_detail' article.id %}" target="_blank">
                                            <button type="button" class="btn btn-primary btn-lg"
                                                    style="background-color:#096c47;">
                                                <span class="glyphicon glyphicon-file"></span> read all
                                            </button>
                                        </a>
{#                                        <button type="button" class="btn btn-primary btn-lg"#}
{#                                                style="background-color:#096c47;" data-toggle="collapse"#}
{#                                                data-target="#demo{{ article.id }}">#}
{#                                            <span class="glyphicon glyphicon-comment"></span> 评&nbsp;论#}
{#                                        </button>#}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <hr id="section-5" style="padding:0%;margin:5%;" class="featurette-divider">
                <h2>我的评论</h2>
                {% for comment in my_comment_list %}
                    <div class="row featurette">
                        <div class="row col-md-12">
                            <div class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-body">
                                    <div>
                                        <div>
                            <span>
                                <a href="">
                                    <img width="24" height="24" src="{{ MEDIA_URL }}{{ request.user.image }}" alt="">
                                </a>
                                <a href="{% url 'article:article_detail' comment.article.id %}" style="color:black;"
                                   target="_blank">
                                    {{ request.user.nick_name }} -- {{ comment.article.title }}
                                </a>
                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <p>{{ comment.comments }}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <!-- /.container -->


    <hr style="padding:0%;margin:2%;" class="featurette-divider">

    <!-- FOOTER -->
    <footer class="blog-footer">
        <p>编写
            <a href="#">网站主页</a> by
            <a href="#">@冯浩斌</a>.</p>
        <p>
            <a href="#">回到顶部</a>
        </p>
    </footer>

</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

<script>
    //顶部搜索栏搜索方法
    function search_click() {
        var type = $('#jsSelectOption').attr('data-value'),
            keywords = $('#search_keywords').val(),
            request_url = '';
        if (keywords == "") {
            return
        }
        if (type == "article") {
            request_url = "/article/list?keywords=" + keywords
        } else if (type == "user") {
            request_url = "/user/list?keywords=" + keywords
        }
        window.location.href = request_url
    }

    //顶部搜索栏搜索按钮事件
    $('#jsSelectOption').on('click', function () {
        var $jsSelectMenu = $('#jsSelectMenu');
        if ($jsSelectMenu.css('display') == 'block') return;
        $jsSelectMenu.addClass('dis');
    });
    $('#jsSelectMenu > li').on('click', function () {
        var searchType = $(this).attr('data-value'),
            searchName = $(this).text(),
            $jsSelectOption = $('#jsSelectOption');
        $jsSelectOption.attr('data-value', searchType).text(searchName);
        $(this).parent().removeClass('dis');
    });
    $(document).on('click', function (e) {
        if (e.target != $('#jsSelectOption')[0] && e.target != $('#jsSelectMenu')[0]) {
            $('#jsSelectMenu').removeClass('dis');
        }
    });


    $('#jsSearchBtn').on('click', function () {
        search_click()
    });
    //搜索表单键盘事件
    $("#search_keywords").keydown(function (event) {
        if (event.keyCode == 13) {
            $('#jsSearchBtn').trigger('click');
        }
    });

</script>
<script type="text/javascript">
    $('.jsDeletemy_article').on('click', function(){
        var _this = $(this),
            articleid = _this.attr('data-articleid');

        $.ajax({
                cache: false,
                type: "POST",
                url: "/operation/delete/",
                data: {
                    article_id: articleid,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                async: true,
                success: function(data) {
                    alert('删除成功')
                    window.location.reload();//刷新当前页面.
{#                    Dml.fun.winReload();#}
                }
            });
    });

       //收藏分享
        function add_fav_user(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'user:add_fav' %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    console.log(1)
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "/login/";
                        } else {
                            alert(data.msg)
                        }
                    } else if (data.status == 'success') {
                        current_elem.text(data.msg)
                    }
                },
            });
        }

        $('.collect-btn').on('click', function () {
            add_fav_user($(this), $(this).data("userid"), 2);
        });

                //收藏文章
        function add_fav_article(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'article:add_fav' %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    console.log(1)
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "/login/";
                        } else {
                            alert(data.msg)
                        }
                    } else if (data.status == 'success') {
                        current_elem.text(data.msg)
                    }
                },
            });
        }

        $('.collect-article-btn').on('click', function () {
            add_fav_article($(this), $(this).data("articleid"), 1);
        });
</script>
</body>

</html>