{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}test{% endblock %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/simditor.css' %}"/>
{#     <link href="css/blog.css" rel="stylesheet">#}
{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hotkeys.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uploader.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/simditor.js' %}"></script>

{% endblock %}
{% block content %}
<div class="blog-header">
        <br>
    </div>
    <!-- /.row -->
    <div class="container">
        <hr style="padding:0%;margin:2%;" class="featurette-divider">
        <div class="blog-header">
            <div class="row">
                <h1 class="text-center">New article</h1>
            </div>
        </div>
        <div class="">
            <form action="" class="center-block">
                <h2>Title:</h2>
                <input type="title" id="inputEmail" class="form-control" placeholder="New article title" required
                       autofocus>
                <br>
                <h2>Content:</h2>
                <textarea id="editor" placeholder="这里输入内容" autofocus></textarea>
                <br>
                <nav>
                    <center>
                        <button type="button" class="btn btn-primary btn-lg" style="background-color:#555;">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary btn-lg" style="background-color:#096c47;">
                            完成
                        </button>
                    </center>
                </nav>
            </form>
        </div>
    </div>

    <script>
    var editor = new Simditor({
            textarea: $('#editor')
            //optional options
        });
</script>

{% endblock %}
