<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images\fzth.ico">

    <title>新文章 - F-ZTH</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/simditor.css" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/module.js"></script>
<script type="text/javascript" src="js/hotkeys.js"></script>
<script type="text/javascript" src="js/uploader.js"></script>
<script type="text/javascript" src="js/simditor.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet">

    <style>
        .fixed-btn {
            position: fixed;
            right: 22%;
            /* bottom: 5%; */
            width: 200px;
            border: 1px solid #eee;
            background-color: white;
            /* font-size: 24px; */
            z-index: 1040;
            -webkit-backface-visibility: hidden;
        }

        #fenyeqi {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<!-- NAVBAR
================================================== -->

<body>
<!-- 固定导航条 -->
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">From Zero to Hero</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:#ffffff;" class="navbar-brand" href="#">F-ZTH</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-home"></span> 首页</a>
                </li>
                <li class="active">
                    <a href="#about">
                        <span class="glyphicon glyphicon-align-justify"></span> 文章列表</a>
                </li>
                <li class="disabled">
                    <a href="#contact">用户列表</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> 个人中心
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="disabled">
                            <a href="#">我的文章</a>
                        </li>
                        <li>
                            <a href="#">我的收藏</a>
                        </li>
                        <li class="disabled">
                            <a href="#">我的关注</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">其他</li>
                        <li>
                            <a href="#">个人信息</a>
                        </li>
                        <li>
                            <a href="#">我的评论</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <form class="navbar-form navbar-left" role="search">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                            文章
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">文章</a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#">用户</a>
                            </li>

                            <li role="presentation">
                                <a href="#">发表日期(yy-mm-dd)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </form>


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span> 注册</a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-log-in"></span> 登录</a>
                    </li>
                </ul>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="blog-header">
        <br>
    </div>
    <!-- /.row -->
<div class="container">
    <hr style="padding:0%;margin:2%;" class="featurette-divider">
<div class="blog-header">
      <div class="row">
    <h1 class="text-center">New article</h1>
    </div>
</div>
<div class="">
<form action="" class="center-block">
<h2>Title:</h2>
    <input type="title" id="inputEmail" class="form-control" placeholder="New article title" required autofocus>
    <br>
<h2>Content:</h2>    
<textarea id="editor" placeholder="这里输入内容" autofocus></textarea>
<br>
<nav>
    <center>
       <button type="button" class="btn btn-primary btn-lg" style="background-color:#555;">
        取消
    </button>
    <button type="button" class="btn btn-primary btn-lg" style="background-color:#096c47;">
        完成
    </button>
    </center>
</nav>


</div>
    <!-- /input-group -->



</form>
</div>
</div>

<hr style="padding:0%;margin:2%;" class="featurette-divider">

    <!-- FOOTER -->
    <footer class="blog-footer">
        <p>编写
            <a href="#">网站主页</a> by
            <a href="#">@冯浩斌</a>.</p>
        <p>
            <a href="#">回到顶部</a>
        </p>
    </footer>

</div>
<!-- /.container -->

<script>
    var editor = new Simditor({
            textarea: $('#editor')
            //optional options
        });
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>

</html>